<h1>Add a video</h1>
<form name="addVideoForm">
	<label for="title">Title*: </label>
	<input type="text" id="title" ng-model="video.title" required> <br />
	<label for="pictureUrl">Picture URL*: </label>
	<input type="url" id="pictureUrl" ng-model="video.pictureUrl" required> <br />
	<label for="length">Length: </label>
	<input type="text" id="length" ng-model="video.length"> <br />
	<label for="category">Category*: </label>
	<input type="text" id="category" ng-model="video.category" required> <br />
	<label for="subscribers">Subscribers: </label>
	<input type="number" min="0" id="subscribers" ng-model="video.subscribers"> <br />
	<label for="date">Date: </label>
	<input type="date" id="date" ng-model="video.date"> <br />
	<label for="subtitles">Has subtitles: </label>
	<input type="checkbox" id="subtitles" ng-model="video.haveSubtitles"> <br />
	<button type="submit" ng-click="addVideo()" ng-disabled="addVideoForm.$invalid">Add video</button>
</form>